@import "compass";

* { 
	font-weight: normal; 
	@include box-sizing(border-box);
}

$off-black: #121011;
$gray: #414141;
$yellow: #FDF900;
$pink: #e83ca5;
$red: #ff3636;
$blue: #3543f9;
$tan: #E9E7E0;
$cyan: rgba(43,253,255,0.4);
$base-font-size: 16px;
$base-line-height: 24px;

body {
	font-family: $AvSans;
	color: $off-black;
	font-size: $base-font-size;
	line-height: $base-line-height;
	background: $tan;
}

a {
	color: $gray;
	text-decoration: none;
	@include transition(color .2s linear, background .5s linear);
	&:hover {
		color: $off-black;
		color: $blue;
	}
}
