.main {
	overflow: hidden;
}

.content {
	width: 92%;
	margin: 150px auto 0;
	overflow: hidden;
}

.page {
	padding: 40px;
	position: relative;
	background: white;
}

@media only screen and (min-width: 550px) {
	.content {
		width: 85%;
		margin-top: 110px;
		max-width: 900px;
	}
}