@import 'compass';

.nav-wrap {
	width: 100%;
	position: fixed;
	top: 0;
	background: $tan;
	z-index: -1;
}
.prim-nav {
	width: 70%;
	max-width: 550px;
	border-bottom: 1px solid $red;
	margin: 0 auto 40px;
	@include transition(height .5s ease-in);
	h1 {
		margin: 20px 0 30px;
		text-align: center;
		font-size: calc-em(23px, $base-font-size);
		letter-spacing: 1px;
		&:hover {
			color: white;
			@include transition(background .2s linear);
		}
	}
	ul {
		margin: 0 auto 20px;
		padding: 0;
		text-align: center;
	}
	li {
		width: percentage(3 / 9);
		display: block;
		float: left;
		font-size: calc-em(12px, $base-font-size);
		text-transform: uppercase;
		letter-spacing: 2px;
		a {
			padding: 20px;
			&:hover {
				background: white;
				@include transition(background .2s linear);
			}
		}
	}
}

@media only screen and (min-width: 550px) {
	.prim-nav {
		h1 {
			width: percentage(550px / 1024px);
			float: left;
			text-align: left;
		}
		ul {
			width: percentage(420px / 1024px);
			margin-top: 25px;
			float: right;
			text-align: none;
		}
		li {
			float: right;
		}
	}
}